#challenges-level-container{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
}
#easy-challenge-container, #medium-challenge-container, #hard-challenge-container{
    display: none;
    width: 100%;
    height: 100%;
    gap: 30px;
    justify-content: center;
    position: relative;
}
.difficulty-active{
    display: flex !important;
}
#challenge-level-changer-left, #challenge-level-changer-right{
    opacity: 0;
    pointer-events: none;
    background-color: transparent;
    border: none;
    font-size: 60px;
    line-height: 60px;
    color: var(--medium-color-value);
    transition: color 0.1s ease-in;
    & :hover{
        color: var(--high-color-value);
    }
}
.challenge-level-changer-active{
    opacity: 1 !important;
    pointer-events: all !important;
}


.option-card {
    display: flex;
    flex-direction: column; 
    height: 100%;
    width: 30%;
    border-radius: 20px;
    padding: 20px;
    transform: scale(1) translateY(-20%);
    transition: transform 0.2s ease;
    background-color: var(--opaque-background-color);
    position: relative;
    left: 0;
    z-index: 99;
    animation: slide-down 0.7s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}
#card-1, #card-4, #card-7{
    animation-delay: 0;
}
#card-2, #card-5, #card-8{
    animation-delay: 100ms;
}
#card-3, #card-6, #card-9{
    animation-delay: 300ms;
}

@keyframes slide-down{
    0% {
        transform: translateY(-20%);
        
    }
    50%{
        transform:translateY(2%);
    }
    100% {
        transform:translateX(0); 
    }
}


.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    overflow-y: hidden;
    pointer-events: none;
    & h3{
        pointer-events: none;
        color: var(--high-color-value);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        line-height: 60px;
        margin: 10px;
        height: 70px;
        width: 70px;
        border-radius: 100%;
        text-align: center;
    }
    .easy-text{
        background-size: 5px 5px;
        background-image: -webkit-linear-gradient(45deg, #65BB58 25%, transparent 25%, transparent 50%, #65BB58 50%, #65BB58 75%, transparent 75%, transparent);
        border: 1px solid #65BB58;
        /* background-image: -moz-linear-gradient(-45deg, #65BB58 25%, transparent 25%, transparent 50%, #65BB58 50%, #65BB58 75%, transparent 75%, transparent);
        background-image: -ms-linear-gradient(-45deg, #65BB58 25%, transparent 25%, transparent 50%, #65BB58 50%, #65BB58 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(-45deg, #65BB58 25%, transparent 25%, transparent 50%, #65BB58 50%, #65BB58 75%, transparent 75%, transparent);
        background-image: linear-gradient(-45deg, #65BB58 25%, transparent 25%, transparent 50%, #65BB58 50%, #65BB58 75%, transparent 75%, transparent); */
    }
    .medium-text{
        background-size: 5px 5px;
        background-image: -webkit-linear-gradient(45deg, #F8A01A 25%, transparent 25%, transparent 50%, #F8A01A 50%, #F8A01A 75%, transparent 75%, transparent);
        border: 1px solid #F8A01A;
        /* background-image: -moz-linear-gradient(-45deg, #65BB58 25%, transparent 25%, transparent 50%, #65BB58 50%, #65BB58 75%, transparent 75%, transparent);
        background-image: -ms-linear-gradient(-45deg, #65BB58 25%, transparent 25%, transparent 50%, #65BB58 50%, #65BB58 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(-45deg, #65BB58 25%, transparent 25%, transparent 50%, #65BB58 50%, #65BB58 75%, transparent 75%, transparent);
        background-image: linear-gradient(-45deg, #65BB58 25%, transparent 25%, transparent 50%, #65BB58 50%, #65BB58 75%, transparent 75%, transparent); */
    }
    .hard-text{
        background-size: 5px 5px;
        background-image: -webkit-linear-gradient(45deg, #E74D4D 25%, transparent 25%, transparent 50%, #E74D4D 50%, #E74D4D 75%, transparent 75%, transparent);
        border: 1px solid #E74D4D;
        /* background-image: -moz-linear-gradient(-45deg, #65BB58 25%, transparent 25%, transparent 50%, #65BB58 50%, #65BB58 75%, transparent 75%, transparent);
        background-image: -ms-linear-gradient(-45deg, #65BB58 25%, transparent 25%, transparent 50%, #65BB58 50%, #65BB58 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(-45deg, #65BB58 25%, transparent 25%, transparent 50%, #65BB58 50%, #65BB58 75%, transparent 75%, transparent);
        background-image: linear-gradient(-45deg, #65BB58 25%, transparent 25%, transparent 50%, #65BB58 50%, #65BB58 75%, transparent 75%, transparent); */
    }
}
.stars{
    pointer-events: none;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    margin-top: 2%;
    & i{
        pointer-events: none;
        font-size: clamp(16px, 3vw, 50px);
        line-height: clamp(16px, 3vw, 50px);
        color: var(--gray-container-value);
    }
}
.stars-active{
    animation: fadein 0.2s ease forwards;
    animation-delay: 0.7s;
}
@keyframes fadein {
    from{
        color: var(--gray-container-value);
    }
    to{
        color: var(--high-color-value);
    }
}


.description-card {
    pointer-events: none;
    margin-top: auto;
    height: 30%;
    width: 100%;
    background-color: var(--background-color);
    transition: height 0.2s ease;
    display: flex;
    padding: 0;
    border-radius: 15px;
    padding: 10px;
    overflow-y: auto;
}

.description-sentence{
    display: inline;
    color: var(--high-color-value);
    font-size: clamp(16px, 2vw, 30px);
    line-height: clamp(16px, 2vw, 30px);
    text-align: justify;
    margin: 0;
}