#challenges-level-container{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
}
#easy-challenge-container, #medium-challenge-container{
    display: none;
    width: 100%;
    height: 100%;
    gap: 30px;
    justify-content: center;
    position: relative;
}
.difficulty-active{
    display: flex !important;
}
#challenge-level-changer-left, #challenge-level-changer-right{
    background-color: transparent;
    border: none;
    font-size: 60px;
    color: var(--medium-color-value);
    transition: color 0.1s ease-in;
    & :hover{
        color: var(--high-color-value);
    }
}

.option-card {
    display: flex;
    flex-direction: column; 
    height: 100%;
    width: 30%;
    border-radius: 20px;
    padding: 20px;
    transform: scale(1);
    transition: transform 0.2s ease;
    background-color: var(--opaque-background-color);
    position: relative;
    left: 0;
    z-index: 99;
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    overflow-y: hidden;
    pointer-events: none;
    & h3{
        pointer-events: none;
        color: var(--high-color-value);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        margin: 10px;
        height: 70px;
        width: 70px;
        border-radius: 100%;
        text-align: center;
    }
    .easy-text{
        background-size: 5px 5px;
        background-image: -webkit-linear-gradient(45deg, #65BB58 25%, transparent 25%, transparent 50%, #65BB58 50%, #65BB58 75%, transparent 75%, transparent);
        border: 1px solid #65BB58;
        /* background-image: -moz-linear-gradient(-45deg, #65BB58 25%, transparent 25%, transparent 50%, #65BB58 50%, #65BB58 75%, transparent 75%, transparent);
        background-image: -ms-linear-gradient(-45deg, #65BB58 25%, transparent 25%, transparent 50%, #65BB58 50%, #65BB58 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(-45deg, #65BB58 25%, transparent 25%, transparent 50%, #65BB58 50%, #65BB58 75%, transparent 75%, transparent);
        background-image: linear-gradient(-45deg, #65BB58 25%, transparent 25%, transparent 50%, #65BB58 50%, #65BB58 75%, transparent 75%, transparent); */
    }
}
.stars{
    pointer-events: none;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    margin-top: 2%;
    & i{
        pointer-events: none;
        font-size: clamp(16px, 3vw, 50px);
        color: var(--gray-container-value);
    }
}
/* .easy-text{
    color: #65BB58;
}
#medium-text{
    color: #F8A01A;
}
#hard-text{
    color: #E74D4D;
} */

.description-card {
    pointer-events: none;
    margin-top: auto;
    height: 30%;
    width: 100%;
    background-color: var(--background-color);
    transition: height 0.2s ease;
    display: flex;
    padding: 0;
    border-radius: 15px;
    padding: 10px;
}

.option-card:hover {
    z-index: 100;
    transform: scale(1.1);
}
.description-sentence{
    display: inline;
    color: var(--high-color-value);
    font-size: clamp(16px, 2vw, 30px);
    text-align: justify;
    margin: 0;
}