:root{
    --background-color: #222222;
    --opaque-background-color: rgba(16, 16, 16, 0.26);
    --sidebar-background-color: rgb(12, 12, 12, 0.5);
    --medium-color-value: #999999;
    --high-color-value: #fff;

    --log-in-color-value: #b9b9b9;
}