* {
  font-family: "VT323", monospace;
  font-weight: 100;
  font-style: normal;
  box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100%;
}
body {
  padding: 4rem;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.paragraph {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 50%;
    height: 30%;
    overflow-y: hidden;
    position: relative;
    scrollbar-width: none;  /* Hide scrollbar */
    -ms-overflow-style: none
}

.word_container {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #999999; 
    box-sizing: border-box;
}

.letter {
    margin: 0;
    padding: 0;
    font-size: 35px;
    font-weight: 200;
    width: 17px;
}

#pointer {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 35px;
    background-color: #00b4d8;
}
.pointer-area-field{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.flash-animation{
    animation: flash 1s infinite;
}

@keyframes flash {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}


.correct {
  color: white;
}

.incorrect {
  color: #ca4754;
}

.incorrect_extra{
    color: #7e2a33;
}

#text_input{
    height: 0;
    width: 0;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_input_unfocused{
    filter: blur(10px);
}

#counter{
    font-size: 50px;
    color: #00b4d8;
}

#retry_button{
    height: 80px;
    width:  100px;
    background: none;
    border: none;
    font-size: 30px;
    color: #999999;
    border-radius: 20px;
}
.hidden{
    opacity: 0;
}
.wpm_container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    & h2{
        font-size: 100px;
        color: #999999;
    }
}