main{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    justify-content: flex-start !important;
    overflow: auto;
    gap: 20px;
}
h3{
    color: var(--high-color-value);
    font-size: 50px;
    margin: 10px;
}
#lobby-control{
    display: flex;
    width: 50%;
    gap: 10px;
    background-color: var(--opaque-background-color);
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

}
#lobby-name{
    color: var(--high-color-value);
    font-size: 30px;
}
.action-button{
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    white-space: nowrap;
    width: fit-content;
    display: inline-block; 
}
.start-button{
    background-color: #238636;
    color: white;
    transition: background-color 0.2s ease-in;
}
.start-button:hover{
    background-color: #32c04f;
}
.join-lobby{
    background-color: #238636;
    color: white;
    transition: background-color 0.2s ease-in;
}
.join-lobby:hover{
    background-color: #32c04f;
}
.stop-button{
    background-color: #b60606;
    color: white;
    transition: background-color 0.2s ease-in;
}
.stop-button:hover{
    background-color: #df2b2b;
}
.text-info{
    color: var(--high-color-value);
    font-size: 30px;
    width: 50%;
}
#player-lobby{
    min-height: 100px;
    height: auto;
    width: 50%;
    background-color: var(--opaque-background-color);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    overflow-y: hidden;
    transition: height 0.2s ease;
    padding: 20px;
}
#leaderboard-player{
    max-height: fit-content;
    width: 50%;
    height: fit-content;
    background-color: var(--opaque-background-color);
    border-radius: 10px;
    display: flex;
    gap: 20px;
    transition: height 0.2s ease;
    padding: 20px;
}
.info-text{
  width: 50%;
  font-size: 30px;
  color: var(--high-color-value);

}
.lobby-box{
  width: 100%;
  height: 70px;
  background-color: #0057d6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: clamp(15px, 40px, 80px);
  border: none;
  outline: none;
}


main::-webkit-scrollbar,#settings-content::-webkit-scrollbar {
    background-color: transparent;
    width: 15px;
}
main::-webkit-scrollbar-track,#settings-content::-webkit-scrollbar-track {
  background-color: transparent;
}
main::-webkit-scrollbar-thumb, #settings-content::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 4px solid transparent;
    background-color: transparent; 
    background-clip: content-box;
}

main:hover::-webkit-scrollbar-thumb, main:hover::-webkit-scrollbar-thumb  {
    background-color: var(--scrollbar-background-color);
}
