#side-panel{
    position: absolute;
    top: 0;
    right: 0;
    display: flex ;
    flex-direction: column;
    width: 25%;
    max-width: 600px;
    height: 100%;
    background-color: var(--background-color);
    padding: 2rem;
    padding-top: 4rem;
    align-items: center;
    gap: 15px;
    transform: translateX(500px);
    z-index: 999;
    pointer-events: all;
}
.active-side-panel{
    animation: slideIn 0.5s ease forwards; 
}
@keyframes slideIn {
    from {
        transform: translateX(100%); /* Start off-screen to the left */
    }
    to {
        transform: translateX(0); /* Move to its original position */
    }
}
.slide-out {
    animation: slideOut 0.5s ease forwards; 
}
@keyframes slideOut {
    from {
        transform: translateX(0); /* Start at original position */
    }
    to {
        transform: translateX(100%) /* Move off-screen to the left */
    }
}
#profile-image{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 2px solid var(--high-color-value);
}
#lvl-bar{
    display: flex;
    height: 20px;
    width: 100%;
    padding: 0;
    flex-direction: column;
    position: relative;
}
.lvl-amount-container{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    gap: 10px;
    align-items: center;
}
.medium-text{
    color: var(--high-color-value);
    font-size: 30px;
    line-height: 30px;
}
.normal-text{
    color: var(--high-color-value);
    font-size: 20px;
    line-height: 20px;
    white-space: nowrap;
}
.small-text{
    color: var(--high-color-value);
    font-size: 16px;
    line-height: 16px;
    white-space: nowrap;
}
#lvl-bar-bg{
    background-color: #222222;
    width: 100%;
    height: 60%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
#lvl-amount{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 70%;
    background-color: #0057d6;
}
#lvl-value-meter{
    margin-left: auto;
}
#log-out-form{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 2rem;
}
#log-out{
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--medium-color-value);
    font-size: 40px;
    line-height: 40px;
    font-weight: 200;
    transition: color 0.1s ease;
}
#log-out:hover{
    color: var(--high-color-value);
}
#close-button{
    pointer-events: all;
    background-color: transparent;
    border: none;
    color: var(--medium-color-value);
    font-size: 30px;
    line-height: 30px;
    font-weight: 200;
    position: absolute;
    z-index: 998;
    top: 2rem;
    right: 2rem;
    transition: color 0.1s ease;
}
#close-button{
    color: var(--high-color-value);
}
#profile-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr);    
    gap: 30px;                               
    width: 100%;
    height: 30%;                        
    position: relative;
    margin-top: 40px;                 
}

#profile-options button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border: none;                           
    background-color: var(--opaque-background-color);
    color: var(--medium-color-value);
    font-size: clamp(8px, 20px, 100px);                                 
    line-height: clamp(8px, 20px, 100px);                                 
    cursor: pointer;
    gap: 10px; 
    transition: border 0.1s ease-in , color 0.1s ease-in;
    & i{
        font-size: 180%;
        line-height: 180%;
    }
}
#profile-options button:hover{
    border: 1px solid #0057d6;
    color: var(--high-color-value);
}