#settings-modal{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    height: 500px;
    width: 60%;
    max-width: 1000px;
    border-radius: 2%;
    overflow: auto;
    background-color: var(--background-color);
    z-index: 999;
}
header{
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: var(--high-color-value);
    border-bottom: 1px solid var(--high-color-value);
}
h1{
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 10px;
}
#settings-tab{
    display: flex;
    flex-direction: column;
    width: max-content;
    color: white;
    font-size: 35px;
    line-height: 30px;
    padding: 20px;
    overflow: auto;
    gap: 15px;
        & div{
            color: var(--high-color-value);
            text-decoration: none;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 5px;
            padding-left: 15px;
            padding-right: 15px;
            gap: 10px;
            border-radius: 10px;
        }
        & .setting-tab-active{
            background-color: var(--gray-container-value);
        }
    & i{
        font-size: 20px;
        line-height: 20px;
    }
}
#settings-content{
    display: flex;
    flex-direction: column;
    width: auto;
    color: var(--high-color-value);
    font-size: 30px;
    line-height: 30px;
    padding: 20px;
    gap: 15px;
    overflow: auto;
    & span{
        font-size: 30px;
        line-height: 30px;
        display: flex;
        gap: 10px;
        align-items: center;
    }
}
.settings-content-container{
    display: none;
    height: fit-content;
    width: 100%;
    gap: 15px;
    flex-direction: column;
}
.settings-content-container.active-settings-content{
    display: flex !important;
}
#close-button-settings-modal{
    pointer-events: all;
    background-color: transparent;
    border: none;
    color: var(--high-color-value);
    font-size: 30px;
    line-height: 30px;
    font-weight: 200;
    z-index: 998;
    top: 2rem;
    right: 2rem;
}
#timezone{
    width: 100%;
    height: 3rem;
    background-color: var(--gray-container-value);
    color: var(--high-color-value);
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5rem;
    line-height: 1.5rem;
}
#timezone option{
    background-color: var(--opaque-background-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.settings-option-container{
    display: flex;
    width: 100%;
    border-radius: 10px;
    height: fit-content;
    background-color: var(--gray-container-value);
    padding: 10px;
    gap: 10px;
    margin-bottom: 10px;

    & section{
        font-size: 16px;
        line-height: 16px;
        display: flex;
        padding: 5px;
        align-items: end;
        justify-content: center;
        height: 4rem;
        width: 4rem;
        border-radius: 10px;
        border: 2px solid var(--medium-color-value);
        position: relative;
    }
    & .dark{
        color: white;
        background-color: #222222;
    }
    & .light{
        color: black;
        background-color: #fbfbfe;
    }
    .active-settings-option{
        border: 2px solid #0057d6;
    }
}
.checkmark{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: opacity 0.1s ease-in;
    pointer-events: none;
}
.active-settings-option .checkmark{
    opacity: 1;
}
#font-size-selector, #font-family{
    width: 100%;
    height: 3rem;
    background-color: var(--gray-container-value);
    color: var(--high-color-value);
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5rem;
    line-height: 1.5rem;
}
#font-size-selector option, #font-family option{
    background-color: var(--opaque-background-color);
}
.display-mode-selector{
    height: 4rem !important;
    width: 9.33rem !important;
    background-color: var(--opaque-background-color);
}
#content-ultra-wide-center, #content-ultra-wide-stretch{
    height: 100%;
    position: absolute;
    background-color: #0057d6;
    color: white;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    pointer-events: none;
}
.not-active{
    color: var(--medium-color-value);
}
.not-active div{
    background-color: var(--gray-container-value) !important;
    color: var(--medium-color-value) !important;
}
#ultra-wide-info{
    font-size: 60%;
    line-height: 60%;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent !important;
    height: 100%;
}
#ultra-wide-info-text{
    position: absolute;
    background-color: var(--opaque-background-color) !important;
    top: 0;
    left: 0;
    transform: translateX(-100%) translateY(-100%);
    border-radius: 10px;
    font-size: 150%;
    line-height: 150%;
    padding: 10px;
    width: max-content;
    opacity: 0;
    color: var(--high-color-value) !important;
    transition: opacity 0.1s ease-in;
    pointer-events: none;
}
#ultra-wide-info:hover{
    color: var(--high-color-value) !important;
}
#ultra-wide-info:hover > #ultra-wide-info-text{
    opacity: 1;
}
.not-active #ultra-wide-info {
    display: flex; 
}
#content-ultra-wide-center{
    width: 50%;
}
#content-ultra-wide-stretch{
    width: 80%;
}

#settings-tab::-webkit-scrollbar,#settings-content::-webkit-scrollbar {
    background-color: transparent;
    width: 15px;
}
#settings-tab::-webkit-scrollbar-track,#settings-content::-webkit-scrollbar-track {
  background-color: transparent;
}
#settings-tab::-webkit-scrollbar-thumb, #settings-content::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 4px solid transparent;
    background-color: transparent; 
    background-clip: content-box;
}
#settings-tab:hover::-webkit-scrollbar-thumb, #settings-content:hover::-webkit-scrollbar-thumb  {
    background-color: var(--scrollbar-background-color);
}

select::-webkit-scrollbar {
    background-color: transparent !important;
    width: 15px;
}

select::-webkit-scrollbar-track {
    background-color: var(--opaque-background-color);
}

select::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 4px solid transparent;
    background-color: var(--scrollbar-background-color); 
    background-clip: content-box;
}