{% extends 'html/template.html' %}
{% load static %}
{% block head %}
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/challenges.css' %}">
{% endblock %}

{% block content %}
    <div id="typingtest-container">
        <div id="easy-challenge-container">
            <div class="option-card" id="card-1">
                <div class="card-content">
                    <h3 class="easy-text">1</h3>
                    <span class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </span>
                    <div class="description-card">
                        <p class="description-sentence">Complete 70 words in <br>1 minute with an accuracy of over 70%.</p>
                    </div>
                </div>
            </div>
            <div class="option-card" id="card-2">
                <div class="card-content">
                    <h3 class="easy-text">2</h3>
                    <span class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </span>
                    <div class="description-card">
                        <p class="description-sentence">Complete 100 words in <br>1 minute with an accuracy of over 70%.</p>
                    </div>
                </div>
            </div>
            <div class="option-card" id="card-3">
                <div class="card-content">
                    <h3 class="easy-text">3</h3>
                    <span class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </span>
                    <div class="description-card">
                        <p class="description-sentence">Complete 130 words in <br>1 minute with an accuracy of over 70%.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav id="option-selector">
        <div class="text-button-container" id="type-selector">
            <button class="text-button option-active">15</button>
            <button class="text-button">30</button>
            <button class="text-button">60</button>
            <button class="text-button">120</button>
        </div>
        <div class="option-separator"></div>
        <div class="text-button-container">
            <button class="text-mode option-active"><i class="fas fa-stopwatch"></i>time</button>
            <button class="text-mode"><i class="fas fa-bold"></i>words</button>
            <button class="text-mode"><i class="fas fa-trophy"></i>challenge</button>
            <button class="text-mode"><i class="fas fa-gamepad"></i>games</button>
            <button class="text-mode"><i class="fas fa-pen"></i>custom</button>
        </div>
    </nav>
    <script src="{% static 'js/timer.js' %}"></script>
    <script src="{% static 'js/typetest.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}