{% extends 'html/template.html' %}
{% load static %}
{% block head %}
    <title>Challenges</title>
    <link rel="stylesheet" href="{% static 'css/challenges.css' %}?0">
{% endblock %}

{% block content %}
<div id="challenge-container">
    <div id="container">
        <div class="challenge"></div>
        <div class="challenge"></div>
        <div class="challenge"></div>
        <div class="challenge"></div>
        <div class="challenge"></div>
        <div class="challenge"></div>
        <div class="challenge"></div>
    </div>
</div>
{% endblock %}