{% extends 'html/template.html' %}
{% load static %}
{% block head %}
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div id="counter" class="hidden"></div>
    <div class="paragraph" id="paragraph">
        <div class="pointer-area-field">
            <div id="pointer" class="flash-animation"></div>
        </div>
        {% for word in random_word %}
        <div class="word_container">
            {% for letter in word|letter_token %}
            <span class="letter">{{letter}}</span>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    
    <input type="text" id="text_input">
    <button id="retry_button">
        <i class="fas fa-redo"></i>
    </button>

    <div id="option-selector">
        <div class="text-button-container">
            <button class="text-button option-active">15</button>
            <button class="text-button">30</button>
            <button class="text-button">60</button>
            <button class="text-button">120</button>
        </div>
        <div class="option-separator"></div>
        <div class="text-button-container">
            <button class="text-mode option-active"><i class="fas fa-stopwatch"></i>TIME</button>
            <button class="text-mode"><i class="fas fa-bold"></i>WORDS</button>
            <button class="text-mode"><i class="fas fa-trophy"></i>CHALLENGE</button>
            <button class="text-mode"><i class="fas fa-gamepad"></i>GAMES</button>
            <button class="text-mode"><i class="fas fa-wrench"></i>CUSTOM</button>
        </div>
    </div>
    <script src="{% static 'js/index.js' %}">
    </script>
{% endblock %}