{% extends 'html/template.html' %}
{% load static %}
{% block head %}
    <title>PlayType| A interactive typing test website.</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %} 
    <div id="typingtest-container">
        <div id="counter-container">
            <div id="counter" class="hidden"></div>
            <div id="challenge-counter" class="hidden"></div>
        </div>
        <div class="paragraph" id="paragraph">
            <div class="pointer-area-field">
                <div id="pointer" class="flash-animation"></div>
            </div>
            <div id="paragraph-container">
                {% for word in random_word %}
                <div class="word_container">
                    {% for letter in word|letter_token %}
                    <span class="letter">{{letter}}</span>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        <input type="text" id="text_input">
        <button id="retry_button" aria-label="Reset Test" title="Reset Test">
            <i class="fas fa-redo"></i>
        </button>
    </div>
    

    <nav id="option-selector">
        <div id="options-container">
            <div class="text-button-container" id="type-selector">
                <button class="text-button option-active" id="text-button-15">15</button>
                <button class="text-button" id="text-button-30">30</button>
                <button class="text-button" id="text-button-60">60</button>
                <button class="text-button" id="text-button-120">120</button>
            </div>
            <div class="option-separator" id="option-separator"></div>
            <div class="text-button-container">
                <button id="text-mode-time" class="text-mode option-active"><i class="fas fa-stopwatch"></i>time</button>
                <button id="text-mode-words" class="text-mode"><i class="fas fa-bold"></i>words</button>
                <button id="text-mode-challenge" class="text-mode"><i class="fas fa-trophy"></i>challenge</button>
                <button id="text-mode-games" class="text-mode"><i class="fas fa-gamepad"></i>games</button>
                <button id="text-mode-custom" class="text-mode"><i class="fas fa-pen"></i>custom</button>
            </div>
        </div>
    </nav>
    <script>
        const challenges_url = `{% url 'challenges' %}`
        const challenge_json_url = "{% static 'json/challenges.json' %}"
    </script>
    <script src="{% static 'js/timer.js' %}"></script>
    <script src="{% static 'js/typetest.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/challenge_result.js' %}"></script>
{% endblock %}