{% extends 'html/template.html' %}
{% load static %}
{% block head %}
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %} 
    <div id="typingtest-container">
        <div id="counter-container">
            <div id="counter" class="hidden"></div>
        </div>
        <div class="paragraph" id="paragraph">
            <div class="pointer-area-field">
                <div id="pointer" class="flash-animation"></div>
            </div>
            <div id="paragraph-container">
                {% for word in random_word %}
                <div class="word_container">
                    {% for letter in word|letter_token %}
                    <span class="letter">{{letter}}</span>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        <input type="text" id="text_input">
        <button id="retry_button">
            <i class="fas fa-redo"></i>
        </button>
    </div>
    

    <nav id="option-selector">
        <div class="text-button-container" id="type-selector">
            <button class="text-button option-active">15</button>
            <button class="text-button">30</button>
            <button class="text-button">60</button>
            <button class="text-button">120</button>
        </div>
        <div class="option-separator"></div>
        <div class="text-button-container">
            <button class="text-mode option-active"><i class="fas fa-stopwatch"></i>time</button>
            <button class="text-mode"><i class="fas fa-bold"></i>words</button>
            <button class="text-mode"><i class="fas fa-trophy"></i>challenge</button>
            <button class="text-mode"><i class="fas fa-gamepad"></i>games</button>
            <button class="text-mode"><i class="fas fa-pen"></i>custom</button>
        </div>
    </nav>
    <script src="{% static 'js/timer.js' %}"></script>
    <script src="{% static 'js/typetest.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}