{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | PlayType</title>
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <script src="{% static 'js/jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <h2>Log-in</h2>
    <button id="google-login"> 
        <i class="fab fa-google"></i>
        Login with Google
    </button>
    <button id="github-login"> 
        <i class="fab fa-github"></i>
        Login with Github
    </button>
    <script src="{% static 'js/lazychameleon.js' %}"></script>
    <script>
        const themesjson = "{% static 'json/themes.json' %}"
        const lazychameleon = new LazyChameleon('playtype', themesjson);
        $('#google-login').on('click',()=>{
            window.location.href = "{% url 'social:begin' 'google-oauth2' %}"
        })
        $('#github-login').on('click',()=>{
            window.location.href = "{% url 'social:begin' 'github' %}"
        })
    </script>
</body>
</html>