{% load static %}

<div id="side-panel">
    <button id="close-button">
        <i class="fas fa-times"></i>
    </button>
    {% if profile_image %}
        <img src="{{ profile_image }}" id="profile-image" alt="Profile Image">
    {% else %}
        <img src="{% static 'images/default-profile.jpg' %}" id="profile-image" alt="Profile Image">
    {% endif %}
    <span class="medium-text">{{name}}</span>
    <div id="lvl-bar">
        <div class="lvl-amount-container">
            <span class="normal-text name" id="level-amount-profile">LVL 1</span>
            <div id="lvl-bar-bg">
                <div id="lvl-amount"></div>
            </div>
        </div>
        <span id="lvl-value-meter" class="small-text">0/0</span>
    </div>
    <div id="profile-options">
        <form action="{% url 'userstat' %}">
            <button><i class="fas fa-chart-pie"></i>stats</button>
        </form>
        <form action="{% url 'leaderboards' %}">
            <button><i class="fas fa-trophy"></i>leaderboard</button>
        </form>
        <form id="public_profile">
            <button><i class="fas fa-user"></i>public profile</button>
        </form>
        <form action="{% url 'Show_Achivements' %}">
            <button><i class="fas fa-medal"></i>achivements</button>
        </form>
    </div>
    <form action="{% url 'logout'%}" id="log-out-form">
        <button type="submit" id="log-out"><i class="fas fa-sign-out-alt"></i></button>
    </form>
    <script>
        $('#public_profile').on('submit', function(event) {
            event.preventDefault();
            const publicProfileUrl = `/profile/${user.username}/`;

            // Redirect to the generated URL
            window.location.replace(publicProfileUrl);
        });
    </script>      
</div>
