
<div id="settings-modal">
    <header>
        <h1>Settings</h1>
        <button id="close-button-settings-modal">
            <i class="fas fa-times"></i>
        </button>
    </header>
    <div id="settings-tab">
        <a href="#"><div> <i class="fas fa-cog"></i>General</div></a>
        <a href="#"><div> <i class="fas fa-keyboard"></i>Apperance</div></a>
        <a href="#"><div> <i class="fas fa-cog"></i>General</div></a>
    </div>
    <div id="settings-content">
        <span>Theme</span>
        <div class="settings-option-container">
            <section class="dark theme-selector-option">
                Dark
            </section>
            <section class="light theme-selector-option">
                Light
            </section>
        </div>
    </div>
</div>