
<div id="settings-modal">
    <header>
        <h1>settings</h1>
        <button id="close-button-settings-modal">
            <i class="fas fa-times"></i>
        </button>
    </header>
    <div id="settings-tab">
        <div class="setting-tab-active settings-tab-link" id="general-option"> <i class="fas fa-cog" style="pointer-events: none;"></i>General</div>
        <div class="settings-tab-link" id="apperance-option"> <i class="fas fa-brush" style="pointer-events: none;"></i>Customize</div>
    </div>
    <div id="settings-content">
        <div class="settings-content-container active-settings-content" id="general-container">
            <span>Time Zone</span>
            <select id="timezone" name="timezone">
                <option value="UTC-12:00">UTC-12:00</option>
                <option value="UTC-11:00">UTC-11:00</option>
                <option value="UTC-10:00">UTC-10:00</option>
                <option value="UTC-09:00">UTC-09:00</option>
                <option value="UTC-08:00">UTC-08:00</option>
                <option value="UTC-07:00">UTC-07:00</option>
                <option value="UTC-06:00">UTC-06:00</option>
                <option value="UTC-05:00">UTC-05:00</option>
                <option value="UTC-04:00">UTC-04:00</option>
                <option value="UTC-03:00">UTC-03:00</option>
                <option value="UTC-02:00">UTC-02:00</option>
                <option value="UTC-01:00">UTC-01:00</option>
                <option value="UTC+00:00">UTC+00:00</option>
                <option value="UTC+01:00">UTC+01:00</option>
                <option value="UTC+02:00">UTC+02:00</option>
                <option value="UTC+03:00">UTC+03:00</option>
                <option value="UTC+04:00">UTC+04:00</option>
                <option value="UTC+05:00">UTC+05:00</option>
                <option value="UTC+06:00">UTC+06:00</option>
                <option value="UTC+07:00">UTC+07:00</option>
                <option value="UTC+08:00">UTC+08:00</option>
                <option value="UTC+09:00">UTC+09:00</option>
                <option value="UTC+10:00">UTC+10:00</option>
                <option value="UTC+11:00">UTC+11:00</option>
                <option value="UTC+12:00">UTC+12:00</option>
                <option value="UTC+13:00">UTC+13:00</option>
                <option value="UTC+14:00">UTC+14:00</option>
            </select>
        </div>
        <div class="settings-content-container" id="apperance-container">
            <span>Theme</span>
            <div class="settings-option-container">
                <section class="dark theme-selector-option" id="dark">
                    <i class="fas fa-check checkmark"></i>
                    Dark
                </section>
                <section class="light theme-selector-option" id="light">
                    <i class="fas fa-check checkmark"></i>
                    Light
                </section>
            </div>
            <span>Font Family</span>
            <select id="font-family" style="font-family: inherit;">
                <option value="VT323" style="font-family: 'VT323', monospace;">VT323</option>
                <option value="Courier Prime" style="font-family: 'Courier Prime', monospace;">Courier Prime</option>
                <option value="Cousine" style="font-family: 'Cousine', monospace;">Cousine</option>
                <option value="Fira Code" style="font-family: 'Fira Code', monospace;">Fira Code</option>
                <option value="Inconsolata" style="font-family: 'Inconsolata', monospace;">Inconsolata</option>
                <option value="JetBrains Mono" style="font-family: 'JetBrains Mono', monospace;">JetBrains Mono</option>
                <option value="Roboto Mono" style="font-family: 'Roboto Mono', monospace;">Roboto Mono</option>
                <option value="Source Code Pro" style="font-family: 'Source Code Pro', monospace;">Source Code Pro</option>
                <option value="Space Mono" style="font-family: 'Space Mono', monospace;">Space Mono</option>
                <option value="Ubuntu Mono" style="font-family: 'Ubuntu Mono', monospace;">Ubuntu Mono</option>
            </select>
            <span>Typing Test Font Size</span>
            <select id="font-size-selector" name="font-size-selector">
                <option value="20px" style="font-size: 20px;">20px</option>
                <option value="30px" style="font-size: 30px;">30px</option>
                <option value="40px" style="font-size: 40px;">40px</option>
                <option value="50px" style="font-size: 50px;">50px</option>
                <option value="60px" style="font-size: 60px;">60px</option>
                <option value="70px" style="font-size: 70px;">70px</option>
                <option value="80px" style="font-size: 80px;">80px</option>
            </select>
            <span class="not-active ultra-wide-mode">
                Ultra Wide Display Configuration
                <div id="ultra-wide-info">
                    <i class="fas fa-info-circle"></i>
                    <div id="ultra-wide-info-text">You're not using an<br>ultrawide display.</div>
                </div>
            </span>
            <div class="settings-option-container">
                <section class="ultra-wide-center display-mode-selector not-active ultra-wide-mode" id="ultra-wide-center">
                    <div id="content-ultra-wide-center">
                        <i class="fas fa-check checkmark"></i>
                        Center
                    </div>
                </section>
                <section class="ultra-wide-stretch display-mode-selector not-active ultra-wide-mode" id="ultra-wide-stretch">
                    <div id="content-ultra-wide-stretch">
                        <i class="fas fa-check checkmark"></i>
                        Strech
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>