{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <script src="{% static 'js/jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.svg' %}">
</head>
<body>
    <div id="side-panel-container">

    </div>
    <div id="upper-tab">
        <div id="logo">
            <img src="{% static 'images/logo.svg' %}" alt="logo" style=" height:30px;">
            <span>PlayType</span>
        </div>
        <button id="profile-button">
            {% if user.is_authenticated %}
                {% if profile_image %}
                    <img src="{{ profile_image }}" alt="Profile Image" style="width:40px; height:40px; border-radius:50%;">
                {% else %}
                    <img src="{% static 'images/default-profile.jpg' %}" alt="Profile Image" style="width:40px; height:40px; border-radius:50%;">
                {% endif %}
            {% else %}
                <i class="fas fa-user"></i>
            {% endif %}
        </button>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script>
        const user = {
            isAuthenticated: "{{ user.is_authenticated|lower }}",
            username: "{{ user.username|escapejs }}",

            email: "{{ user.email|escapejs }}",
        };
        $('#profile-button').on('click', () => {
            console.log(typeof(user.isAuthenticated))
            if (user.isAuthenticated == 'true') {
                $.get("{% url 'show-profile'%}", function(data) {
                    $('#side-panel-container').append(data);
                    $('#side-panel').addClass('active-side-panel')
                    $('#side-panel-container').addClass('side-panel-container-active')
                    $('#close-button').on('click',()=>{
                        $("#side-panel-container").removeClass('side-panel-container-active')
                        $('#side-panel').removeClass('active-side-panel')
                        $('#side-panel').addClass('slide-out')
                        setTimeout(function(){
                            $('#side-panel').remove()
                        },500)
                        
                    })
                });

            } else {
                window.location.href = "{% url 'login'%}"
            }
        });
        $(document).on('click', function(event) {
            if ($('#side-panel').hasClass('active-side-panel')) {
                if (!$('#side-panel').is(event.target) && $('#side-panel').has(event.target).length === 0) {
                    $("#side-panel-container").removeClass('side-panel-container-active')
                    $('#side-panel').removeClass('active-side-panel')
                    $('#side-panel').addClass('slide-out')
                    setTimeout(function(){
                        $('#side-panel').remove()
                    },500)   
                }
            }
        });
    </script>

</body>
</html>
