{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&family=Inconsolata:wght@200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap" as="style" onload="this.rel='stylesheet'">
    <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Code:wght@300..700&family=Inconsolata:wght@200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=VT323&display=swap" rel="stylesheet">
    </noscript>


    <script src="{% static 'js/jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'css/variable.css' %}">
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
    <link rel="stylesheet" href="{% static 'css/challenges.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom-sentence.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <div id="notification-container">
        <div id="notification-icon">
            <i class="fas fa-crown"></i>
        </div>
        <div id="message-notification-container">
            <span id="notification-type"></span>
            <span id="notification-message"></span>
        </div>
    </div>
    <div id="settings-modal-container">
        {% include 'html/settings.html' %}
    </div>
    <div id="custom-sentence-modal-container">
        {% include 'html/custom-sentence.html' %}
    </div>
    <div id="side-panel-container">
        {% include 'html/profile.html' %}
    </div>
    <div id="upper-tab">
        <div id="logo">
            <form action="{% url 'index' %}" id="playtype">
                <button id="logo-button">
                    <img src="{% static 'images/logo.svg' %}" alt="logo" style=" height:30px;" id="logo-image"> 
                    <span id="playtype-name">PlayType alpha-build</span>
                </button>
            </form>
            <form action="{% url 'index' %}" id="keyboard-form">
                <button class="tap-bar-button" id="goto-index">
                    <i class="fas fa-keyboard"></i>
                </button>
            </form>
            <button id="settings-button" class="tap-bar-button">
                <i class="fas fa-cog"></i>
            </button>
        </div>
        <button id="profile-button">
            {% if user.is_authenticated %}
                {% if profile_image %}
                    <img src="{{ profile_image }}" style="width:40px; height:40px; border-radius:50%;" class="profile_image" id="profile_image">
                {% else %}
                    <img src="{% static 'images/default-profile.jpg' %}" style="width:40px; height:40px; border-radius:50%;" id="profile_image">
                {% endif %}
            {% else %}
                <i class="fas fa-user"></i>
            {% endif %}
        </button>
    </div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/UserSettings.js' %}"></script>
    <script src="{% static 'js/lazychameleon.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    {{ user_settings|json_script:"user_settings"}}
    <script>
        const devicePixelRatio = window.devicePixelRatio;
        const userSettings = JSON.parse(document.getElementById('user_settings').textContent);
        const themesjson = "{% static 'json/themes.json' %}"
        const loginUrl =  "{% url 'login'%}"
        const lazychameleon = new LazyChameleon('playtype', themesjson, userSettings.theme);
        let clickOutsideEnabled = false;
        const user = {
            isAuthenticated: ("{{ user.is_authenticated|lower }}"  === "true"),
            username: "{{ user.username|escapejs }}",
            email: "{{ user.email|escapejs }}",
        };
        $(document).on('click', function(event) {
            if (clickOutsideEnabled && $('#side-panel').hasClass('active-side-panel')) {
                if (!$(event.target).closest('#side-panel-container').length) {
                    $('#side-panel').removeClass('active-side-panel');
                    setTimeout(()=>{
                        $('#side-panel-container').removeClass('side-panel-container-active');
                    },500)
                    clickOutsideEnabled = false; // Reset the flag
                }
            }
            if (clickOutsideEnabled && $('#settings-modal-container').hasClass('settings-modal-container-active')) {
                if (!$(event.target).closest('#settings-modal').length) {
                    $('#settings-modal-container').removeClass('settings-modal-container-active');
                    clickOutsideEnabled = false; // Reset the flag
                }
            }
            if (clickOutsideEnabled && $('#custom-sentence-modal-container').hasClass('custom-sentence-modal-container-active')) {
                if (!$(event.target).closest('#sentence-modal').length) {
                    $('#custom-sentence-modal-container').removeClass('custom-sentence-modal-container-active');
                    clickOutsideEnabled = false; // Reset the flag
                }
            }
        });
    </script>

</body>
</html>
